/* reset  reinitialise (efface) les styles par défauts du navigateur*/


a {

text-decoration: none;
color: inherit;

}
ul, ol {

    list-style: none;   
}


* {

margin: 0;
padding: 0;

}
/* style globale */

*{
 
font-family: "Cabin", sans-serif;


}

.flux {

margin-left: 75px;
margin-right: 75px;


} 

@media (max-width: 500px)  {
    .flux {
 
    margin-left: 15px;
    margin-right: 15px;
    } 
 }

/* Start utilisation du header*/


.header {

display: flex;
justify-content: space-between;
align-items: center;
margin-top: 50px;
margin-bottom: 50px;
}

.list-links{

display: flex;

column-gap: 40px;
align-items: center;

}


.logo {

width: 125px;
height: 25px;

}

.nav-link {

text-transform: uppercase;
font-size: 14px;


}

.nav-link:last-child a {

background-color: black;
color: white;
padding: 15px 30px;
border-radius: 30px;
font-weight: 500;
}
/*
AUTRES Selecteurs possibles :

pour le premier élément
.nav-link:fist-child {
background-color: red;

}
pour le premier élément
.nav-link:first-child{

background-color: aquamarine;

}
Pour l'élément à la position 2 
.nav-link:nth-child(2){

background-color: yellow;


}
*/


/* start utilisation de la cover*/

.cover {

display: flex;
align-items:center ;
object-fit: cover;
object-position: bottom;
}


@media (max-width: 500px)  {
   .cover {

    flex-direction: column;
   } 
}
.image-office{

width: 55%;
flex-shrink: 0;
height: 250px;
}

.icon-scroll {

background-color: black;
width: 50px;
height: 50px;
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;


}

.cover-title {

font-size: 50px;
margin-bottom: 20px;

}

.cover-introduction {

margin-bottom: 30px;

}

.cover-text {

padding-right: 100px;


}